<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!-- The service TCP port.  Set to 80 if no web server is running on this host. -->
		<add key="PORT" value="8080"/>
		
		<!-- NOTE: The paths need to be fully qualifed when running as an NT service. -->

		<!-- Location to store the address and rate files from DOR. -->
		<add key="DATAFILE_DIR" value="c:\sources\WaRateFileLookup\Service\data\" />
		
		<!-- Frequency to check DORs site for updated and files and to check if the
			 in memory data needs to be updated (when the period changes). -->
		<add key="DATAFILE_UPDATE_CHECK_FREQ_MINUTES" value="60" />

		<!-- System error/event log. -->
		<add key="LOG_FILE" value="c:\sources\WaRateFileLookup\Service\RateLookupServiceLog.txt"/>

		<!-- Web page sent if the service is called with no parameters.  Test.html is
			 is an "ajax"ed address lookup page. -->
		<add key="SEARCHPAGE" value="c:\sources\WaRateFileLookup\Service\Test.html"/>
		
		<!-- Leave value blank to use the machine name -->
		<add key="SEARCHPAGE_HOST_NAME" value="localhost" />

		<!-- If true, the data files will be downloaded when the service starts.  Could
			 cause a timeout if the network connection is slow.  If false, the files are
			 downloaded in a background thread. -->
		<add key="DOWNLOAD_FILES_ON_STARTUP" value="false" />
		
		<!-- Network IO timeout in seconds.  Set to a very low value for single threaded mode. -->
		<add key="TIMEOUT_SEC" value="15"/>

		<!-- Set to true for multithreaded, false for single threaded. -->
		<add key="USE_THREADPOOL" value="false" />

		<!-- Shortcut evaluation will causes the address to not be fully evaluated in
			 some cases.  For example, if all of the street data in a ZIP has the same
			 location code, that code will be used with out actually matching the 
			 address. -->
		<add key="USE_SHORTCUT_ADDRESS_EVALUATION" value="false"/>

		<!-- Enables NT performance counters in "WA Rate Lookup" category.  The service account
			 must have permissions to create and access the counters. -->
		<add key="ENABLE_PERFORMANCE_COUNTERS" value="false"/>
		<add key="ENABLE_PERFORMANCE_COUNTERS_PERFORMANCE_OVER_ACCURACY" value="false"/>

		<!-- If true, server stats will be available at http://hostname:port/stats -->
		<add key="REMOTE_STATS_ENABLED" value="true" />

		<!-- For testing at DOR, do not change. -->
		<add key="DORWAGOV_URL" value="http://dor.wa.gov"/>
		<add key="DEBUG_PERIOD" value=""/>
	</appSettings>
</configuration>