<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="PATH_SMTP_SERVER" value="198.105.130.230"/>
		<add key="ADDRESS_FILE" value="../../../State.txt"/>
		<add key="RATE_FILE" value="../../../Rates040108.csv"/>
		<add key="ZIP_FILE" value="../../../ZIP4RATESQ22008.csv"/>
		<add key="USE_NTSERVICE" value="true" />
		<add key="NTSERVICE_SERVER" value="dorwebgis2" />
		<add key="NTSERIVCE_PORT" value="8080" />
		<!--<add key="Incoming_File_Directory" value="\\dorprodbatch\AddressEncodingIncoming\"/>
		<add key="Outgoing_File_Directory" value="\\dorprodbatch\AddressEncodingOutgoing\"/>-->
		<add key="Incoming_File_Directory" value="c:\sources\WaRateFileLookup\BatchJob\AddressEncodingIncoming\"/>
		<add key="Outgoing_File_Directory" value="c:\sources\WaRateFileLookup\BatchJob\AddressEncodingOutgoing\"/>
		<add key="WEB_APP_SERVER" value="https://fortress.wa.gov/dor/efile"/>
		<add key="TAA_CONTACT" value="Tracye Fralick"/>
		<add key="TAA_CONTACT_EMAIL" value="tracyef@dor.wa.gov"/>
		<add key="TAA_CONTACT_PHONE" value="(360)902-7016"/>
		<add key="PATH_ERROR_LOG" value="AddressEncodingErrorLog.txt"/>
		<add key="ERROR_RECIPIENTS" value="cms@dor.wa.gov;johnga@dor.wa.gov" />
	</appSettings>
</configuration>