<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!-- Shortcut evaluation will causes the address to not be fully evaluated in
			 some cases.  For example, if all of the street data in a ZIP has the same
			 location code, that code will be used with out actually matching the 
			 address. -->
		<add key="USE_SHORTCUT_ADDRESS_EVALUATION" value="false"/>
		
		<add key="DEBUG_PERIOD" value=""/>
	</appSettings>
</configuration>